.mainContainer {
  margin: 5em 10%;
}

.heading {
  margin-bottom: 40px;
}

.form {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.check {
  margin-left: 40px;
}

.check label {
  margin-left: 5px;
}

.fileUpload {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .form {
    display: block;
  }

  .left {
    width: 100%;
    align-items: center;
  }

  .right {
    display: block;
    width: 100%;
  }

  .check {
    margin-left: 80px;
  }
}
