.navlogo{
    width: 70px;
    height: 30px;
}

.search{
    color: #080808;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    width: 100%;
}
.navitems{
    color: #2699FB !important; 
}
